# ====================================
# Terraform
# ====================================

# Diretórios locais do Terraform
**/.terraform/
.terraform/

# Arquivos de estado do Terraform (sensíveis)
*.tfstate
*.tfstate.backup
*.tfstate.*

# Arquivos de bloqueio do Terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Arquivos de variáveis (sensíveis)
*.tfvars.json

# Arquivos de override (locais, geralmente não versionar)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de configuração da CLI do Terraform
.terraformrc
terraform.rc

# Plan files (opcional, caso queira ignorar planos gerados)
*tfplan*

# Arquivos de log de crash
crash.log
crash.*.log

# ====================================
# Ambiente e backups
# ====================================

# Arquivos de ambiente
.env

# Arquivos de backup de modelos lógicos do banco
BANCO CORE - v3.mwb.bak