services:
  nginx-proxy:
    image: nginx:latest
    container_name: caringu-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      # Certificados Let’s Encrypt (lidos pelo Nginx)
      - /etc/letsencrypt:/etc/letsencrypt:ro
      # Webroot usado pelo desafio ACME do Certbot
      - /var/www/certbot:/var/www/certbot:ro
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot-manager
    volumes:
      # Volume para armazenar os certificados (escrito pelo Certbot)
      - /etc/letsencrypt:/etc/letsencrypt
      # Volume para o desafio ACME (escrito pelo Certbot)
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - nginx-proxy
    # Renova o certificado a cada 12 horas (não faz nada na primeira execução)
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"


